## Preprocessing

In [77]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [78]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN", "NAME"], axis=1)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [79]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [80]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [81]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_df["APPLICATION_TYPE"].value_counts()[application_df["APPLICATION_TYPE"].value_counts() < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [82]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df["CLASSIFICATION"].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [83]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_greater_than_one = classification_counts[classification_counts > 1]
classification_counts_greater_than_one

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [84]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [85]:
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [86]:
# Check the data types of each column
application_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [87]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, columns=["APPLICATION_TYPE", 
                                                         "AFFILIATION", 
                                                         "CLASSIFICATION",
                                                         "USE_CASE", 
                                                         "ORGANIZATION", 
                                                         "INCOME_AMT", 
                                                         "SPECIAL_CONSIDERATIONS"])

In [88]:
# Review the dataframe
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [89]:
# Check the data types of each column
application_df.dtypes

STATUS                          int64
ASK_AMT                         int64
IS_SUCCESSFUL                   int64
APPLICATION_TYPE_Other          uint8
APPLICATION_TYPE_T10            uint8
APPLICATION_TYPE_T19            uint8
APPLICATION_TYPE_T3             uint8
APPLICATION_TYPE_T4             uint8
APPLICATION_TYPE_T5             uint8
APPLICATION_TYPE_T6             uint8
APPLICATION_TYPE_T7             uint8
APPLICATION_TYPE_T8             uint8
AFFILIATION_CompanySponsored    uint8
AFFILIATION_Family/Parent       uint8
AFFILIATION_Independent         uint8
AFFILIATION_National            uint8
AFFILIATION_Other               uint8
AFFILIATION_Regional            uint8
CLASSIFICATION_C1000            uint8
CLASSIFICATION_C1200            uint8
CLASSIFICATION_C2000            uint8
CLASSIFICATION_C2100            uint8
CLASSIFICATION_C3000            uint8
CLASSIFICATION_Other            uint8
USE_CASE_CommunityServ          uint8
USE_CASE_Heathcare              uint8
USE_CASE_Other                  uint8
USE_CASE_Preservation           uint8
USE_CASE_ProductDev             uint8
ORGANIZATION_Association        uint8
ORGANIZATION_Co-operative       uint8
ORGANIZATION_Corporation        uint8
ORGANIZATION_Trust              uint8
INCOME_AMT_0                    uint8
INCOME_AMT_1-9999               uint8
INCOME_AMT_10000-24999          uint8
INCOME_AMT_100000-499999        uint8
INCOME_AMT_10M-50M              uint8
INCOME_AMT_1M-5M                uint8
INCOME_AMT_25000-99999          uint8
INCOME_AMT_50M+                 uint8
INCOME_AMT_5M-10M               uint8
SPECIAL_CONSIDERATIONS_N        uint8
SPECIAL_CONSIDERATIONS_Y        uint8
dtype: object

In [90]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [91]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [108]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 80)                3520

 dense_16 (Dense)            (None, 30)                2430

 dense_17 (Dense)            (None, 30)                930

 dense_18 (Dense)            (None, 1)                 31

=================================================================
Total params: 6,911
Trainable params: 6,911
Non-trainable params: 0
_________________________________________________________________

In [109]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [110]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 744us/step - loss: 0.5682 - accuracy: 0.7232
Epoch 2/100
804/804 [==============================] - 1s 756us/step - loss: 0.5554 - accuracy: 0.7289
Epoch 3/100
804/804 [==============================] - 1s 742us/step - loss: 0.5527 - accuracy: 0.7302
Epoch 4/100
804/804 [==============================] - 1s 743us/step - loss: 0.5508 - accuracy: 0.7314
Epoch 5/100
804/804 [==============================] - 1s 745us/step - loss: 0.5495 - accuracy: 0.7311
Epoch 6/100
804/804 [==============================] - 1s 746us/step - loss: 0.5488 - accuracy: 0.7315
Epoch 7/100
804/804 [==============================] - 1s 797us/step - loss: 0.5482 - accuracy: 0.7323
Epoch 8/100
804/804 [==============================] - 1s 758us/step - loss: 0.5475 - accuracy: 0.7321
Epoch 9/100
804/804 [==============================] - 1s 794us/step - loss: 0.5462 - accuracy: 0.7333
Epoch 10/100
804/804 [==============================] - 1s 756us/step - loss: 0.5460 - accuracy: 0.7336
Epoch 11/100
804/804 [==============================] - 1s 745us/step - loss: 0.5456 - accuracy: 0.7348
Epoch 12/100
804/804 [==============================] - 1s 752us/step - loss: 0.5449 - accuracy: 0.7350
Epoch 13/100
804/804 [==============================] - 1s 748us/step - loss: 0.5441 - accuracy: 0.7367
Epoch 14/100
804/804 [==============================] - 1s 763us/step - loss: 0.5437 - accuracy: 0.7359
Epoch 15/100
804/804 [==============================] - 1s 747us/step - loss: 0.5434 - accuracy: 0.7376
Epoch 16/100
804/804 [==============================] - 1s 746us/step - loss: 0.5433 - accuracy: 0.7372
Epoch 17/100
804/804 [==============================] - 1s 745us/step - loss: 0.5423 - accuracy: 0.7375
Epoch 18/100
804/804 [==============================] - 1s 758us/step - loss: 0.5420 - accuracy: 0.7369
Epoch 19/100
804/804 [==============================] - 1s 766us/step - loss: 0.5423 - accuracy: 0.7372
Epoch 20/100
804/804 [==============================] - 1s 744us/step - loss: 0.5414 - accuracy: 0.7384
Epoch 21/100
804/804 [==============================] - 1s 746us/step - loss: 0.5417 - accuracy: 0.7377
Epoch 22/100
804/804 [==============================] - 1s 760us/step - loss: 0.5404 - accuracy: 0.7387
Epoch 23/100
804/804 [==============================] - 1s 755us/step - loss: 0.5409 - accuracy: 0.7371
Epoch 24/100
804/804 [==============================] - 1s 743us/step - loss: 0.5402 - accuracy: 0.7384
Epoch 25/100
804/804 [==============================] - 1s 748us/step - loss: 0.5402 - accuracy: 0.7379
Epoch 26/100
804/804 [==============================] - 1s 760us/step - loss: 0.5401 - accuracy: 0.7391
Epoch 27/100
804/804 [==============================] - 1s 743us/step - loss: 0.5397 - accuracy: 0.7393
Epoch 28/100
804/804 [==============================] - 1s 750us/step - loss: 0.5393 - accuracy: 0.7372
Epoch 29/100
804/804 [==============================] - 1s 746us/step - loss: 0.5392 - accuracy: 0.7389
Epoch 30/100
804/804 [==============================] - 1s 759us/step - loss: 0.5393 - accuracy: 0.7383
Epoch 31/100
804/804 [==============================] - 1s 741us/step - loss: 0.5386 - accuracy: 0.7398
Epoch 32/100
804/804 [==============================] - 1s 745us/step - loss: 0.5388 - accuracy: 0.7393
Epoch 33/100
804/804 [==============================] - 1s 760us/step - loss: 0.5387 - accuracy: 0.7396
Epoch 34/100
804/804 [==============================] - 1s 748us/step - loss: 0.5383 - accuracy: 0.7404
Epoch 35/100
804/804 [==============================] - 1s 746us/step - loss: 0.5384 - accuracy: 0.7399
Epoch 36/100
804/804 [==============================] - 1s 754us/step - loss: 0.5381 - accuracy: 0.7399
Epoch 37/100
804/804 [==============================] - 1s 764us/step - loss: 0.5378 - accuracy: 0.7395
Epoch 38/100
804/804 [==============================] - 1s 774us/step - loss: 0.5376 - accuracy: 0.7399
Epoch 39/100
804/804 [==============================] - 1s 757us/step - loss: 0.5372 - accuracy: 0.7396
Epoch 40/100
804/804 [==============================] - 1s 746us/step - loss: 0.5374 - accuracy: 0.7393
Epoch 41/100
804/804 [==============================] - 1s 743us/step - loss: 0.5370 - accuracy: 0.7402
Epoch 42/100
804/804 [==============================] - 1s 745us/step - loss: 0.5371 - accuracy: 0.7394
Epoch 43/100
804/804 [==============================] - 1s 763us/step - loss: 0.5370 - accuracy: 0.7406
Epoch 44/100
804/804 [==============================] - 1s 744us/step - loss: 0.5366 - accuracy: 0.7411
Epoch 45/100
804/804 [==============================] - 1s 755us/step - loss: 0.5365 - accuracy: 0.7410
Epoch 46/100
804/804 [==============================] - 1s 742us/step - loss: 0.5366 - accuracy: 0.7413
Epoch 47/100
804/804 [==============================] - 1s 762us/step - loss: 0.5364 - accuracy: 0.7397
Epoch 48/100
804/804 [==============================] - 1s 748us/step - loss: 0.5363 - accuracy: 0.7405
Epoch 49/100
804/804 [==============================] - 1s 782us/step - loss: 0.5356 - accuracy: 0.7407
Epoch 50/100
804/804 [==============================] - 1s 747us/step - loss: 0.5359 - accuracy: 0.7410
Epoch 51/100
804/804 [==============================] - 1s 756us/step - loss: 0.5360 - accuracy: 0.7405
Epoch 52/100
804/804 [==============================] - 1s 761us/step - loss: 0.5357 - accuracy: 0.7407
Epoch 53/100
804/804 [==============================] - 1s 756us/step - loss: 0.5360 - accuracy: 0.7405
Epoch 54/100
804/804 [==============================] - 1s 759us/step - loss: 0.5357 - accuracy: 0.7404
Epoch 55/100
804/804 [==============================] - 1s 812us/step - loss: 0.5355 - accuracy: 0.7407
Epoch 56/100
804/804 [==============================] - 1s 782us/step - loss: 0.5354 - accuracy: 0.7410
Epoch 57/100
804/804 [==============================] - 1s 769us/step - loss: 0.5354 - accuracy: 0.7411
Epoch 58/100
804/804 [==============================] - 1s 769us/step - loss: 0.5352 - accuracy: 0.7407
Epoch 59/100
804/804 [==============================] - 1s 757us/step - loss: 0.5353 - accuracy: 0.7413
Epoch 60/100
804/804 [==============================] - 1s 746us/step - loss: 0.5351 - accuracy: 0.7404
Epoch 61/100
804/804 [==============================] - 1s 758us/step - loss: 0.5349 - accuracy: 0.7406
Epoch 62/100
804/804 [==============================] - 1s 764us/step - loss: 0.5350 - accuracy: 0.7403
Epoch 63/100
804/804 [==============================] - 1s 764us/step - loss: 0.5348 - accuracy: 0.7414
Epoch 64/100
804/804 [==============================] - 1s 753us/step - loss: 0.5346 - accuracy: 0.7411
Epoch 65/100
804/804 [==============================] - 1s 768us/step - loss: 0.5345 - accuracy: 0.7413
Epoch 66/100
804/804 [==============================] - 1s 763us/step - loss: 0.5344 - accuracy: 0.7409
Epoch 67/100
804/804 [==============================] - 1s 756us/step - loss: 0.5343 - accuracy: 0.7420
Epoch 68/100
804/804 [==============================] - 1s 758us/step - loss: 0.5343 - accuracy: 0.7408
Epoch 69/100
804/804 [==============================] - 1s 824us/step - loss: 0.5343 - accuracy: 0.7411
Epoch 70/100
804/804 [==============================] - 1s 779us/step - loss: 0.5341 - accuracy: 0.7415
Epoch 71/100
804/804 [==============================] - 1s 762us/step - loss: 0.5342 - accuracy: 0.7413
Epoch 72/100
804/804 [==============================] - 1s 758us/step - loss: 0.5341 - accuracy: 0.7419
Epoch 73/100
804/804 [==============================] - 1s 760us/step - loss: 0.5340 - accuracy: 0.7423
Epoch 74/100
804/804 [==============================] - 1s 756us/step - loss: 0.5339 - accuracy: 0.7409
Epoch 75/100
804/804 [==============================] - 1s 763us/step - loss: 0.5336 - accuracy: 0.7409
Epoch 76/100
804/804 [==============================] - 1s 767us/step - loss: 0.5339 - accuracy: 0.7418
Epoch 77/100
804/804 [==============================] - 1s 759us/step - loss: 0.5336 - accuracy: 0.7416
Epoch 78/100
804/804 [==============================] - 1s 763us/step - loss: 0.5334 - accuracy: 0.7421
Epoch 79/100

804/804 [==============================] - 1s 759us/step - loss: 0.5335 - accuracy: 0.7418
Epoch 80/100
804/804 [==============================] - 1s 752us/step - loss: 0.5336 - accuracy: 0.7409
Epoch 81/100
804/804 [==============================] - 1s 757us/step - loss: 0.5338 - accuracy: 0.7416
Epoch 82/100
804/804 [==============================] - 1s 755us/step - loss: 0.5334 - accuracy: 0.7417
Epoch 83/100
804/804 [==============================] - 1s 741us/step - loss: 0.5333 - accuracy: 0.7414
Epoch 84/100
804/804 [==============================] - 1s 755us/step - loss: 0.5331 - accuracy: 0.7415
Epoch 85/100
804/804 [==============================] - 1s 776us/step - loss: 0.5331 - accuracy: 0.7418
Epoch 86/100
804/804 [==============================] - 1s 765us/step - loss: 0.5334 - accuracy: 0.7418
Epoch 87/100
804/804 [==============================] - 1s 769us/step - loss: 0.5331 - accuracy: 0.7413
Epoch 88/100
804/804 [==============================] - 1s 759us/step - loss: 0.5330 - accuracy: 0.7411
Epoch 89/100
804/804 [==============================] - 1s 770us/step - loss: 0.5330 - accuracy: 0.7416
Epoch 90/100
804/804 [==============================] - 1s 760us/step - loss: 0.5329 - accuracy: 0.7421
Epoch 91/100
804/804 [==============================] - 1s 756us/step - loss: 0.5329 - accuracy: 0.7421
Epoch 92/100
804/804 [==============================] - 1s 758us/step - loss: 0.5330 - accuracy: 0.7422
Epoch 93/100
804/804 [==============================] - 1s 761us/step - loss: 0.5329 - accuracy: 0.7422
Epoch 94/100
804/804 [==============================] - 1s 758us/step - loss: 0.5328 - accuracy: 0.7421
Epoch 95/100
804/804 [==============================] - 1s 753us/step - loss: 0.5326 - accuracy: 0.7416
Epoch 96/100
804/804 [==============================] - 1s 755us/step - loss: 0.5328 - accuracy: 0.7421
Epoch 97/100
804/804 [==============================] - 1s 760us/step - loss: 0.5327 - accuracy: 0.7419
Epoch 98/100
804/804 [==============================] - 1s 744us/step - loss: 0.5322 - accuracy: 0.7420
Epoch 99/100
804/804 [==============================] - 1s 744us/step - loss: 0.5327 - accuracy: 0.7414
Epoch 100/100
804/804 [==============================] - 1s 743us/step - loss: 0.5324 - accuracy: 0.7425

In [111]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5574 - accuracy: 0.7258 - 224ms/epoch - 835us/step
Loss: 0.5574203133583069, Accuracy: 0.7258309125900269

In [112]:
# Export our model to HDF5 file
nn.save(" AlphabetSoupCharity.h5")

## Analysis

The purpose of this analysis is to evaluate the performance of a neural network model designed to predict the accuracy of test data. The model architecture includes three hidden layers with 80, 30, and 30 nodes, respectively, and an output layer with one node. The input dimension is based on the length of the training data, and the activation functions used are tanh and relu.
## Results
Loss: 0.5574203133583069
Accuracy: 0.7258309125900269
## What is the purpose of the neural network model? 
The purpose of the neural network model is to predict the accuracy of test data.
## What is the structure of the neural network model? 
The neural network model has three hidden layers with 80, 30, and 30 nodes, respectively, and an output layer with one node. The activation functions used are tanh and relu.
## What is the loss of the model?
The loss of the model is 0.5574203133583069.
## What is the accuracy of the model?
The accuracy of the model is 0.7258309125900269.
## How long did the model take to train? 
The model took 224ms/epoch to train.
## What is the purpose of the activation functions used in the model? 
The purpose of the activation functions used in the model is to introduce non-linearity into the neural network and enable the model to learn complex patterns in the data.
## Conclusion
In conclusion, the neural network model designed to predict the accuracy of test data achieved an accuracy of 0.7258309125900269 after training and testing. The model architecture included three hidden layers with 80, 30, and 30 nodes, respectively, and an output layer with one node. The activation functions used were tanh and relu.

## Alternative Model
An alternative model that could be used to solve the same problem is a support vector machine (SVM). SVMs are a popular machine learning algorithm that can be used for classification tasks. They work by finding the hyperplane that best separates the data points into different classes. SVMs are effective for high-dimensional datasets and can handle non-linearly separable data by using kernel functions.

In this case, an SVM could be trained on the training data and used to predict the accuracy of the test data. SVMs are generally less computationally intensive than neural networks and may be a good alternative if computational resources are limited. However, SVMs can be sensitive to the choice of kernel function and regularization parameter, and may require more fine-tuning than neural networks to achieve optimal performance.